$footer-height: 110px;

* { 
  margin: 0;
}

h1, h2, h3 { 
  margin: 0 0 0.83em 0;
}

p {
  margin: 1em 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $default-font-family;
  color: $default-text-color;
  background-color: $default-background-color;
  -webkit-text-size-adjust: 100%;
}

#site-wrapper {
  min-height: 100%;
  margin-bottom: $footer-height * -1;
}

#site-wrapper:after {
  content: "";
  display: block;
  height: 110px; 
}

#site-header {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  
  h1 {
    margin: 0;
  }
}

#site-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

#site-footer {
  height: $footer-height;

  background: $light-blue;
  color: $white;
  text-align: center;

  & > div {
    padding: 20px;
  }

  a, a:visited {
    color: $white;
    text-decoration: none;
  }

  a:hover, a:active {
    color: darken($white, 7%);
  }

  svg {
    fill: $white;
  }

  svg:hover {
    fill: darken($white, 7%);
  }

  h1 { 
    @extend %p;
    margin: 5px;
    line-height: 1em;
  }
}

@include media-query(map-get($breakpoints, "large")) {
  #site-content {
    padding: 0;
  }
}

.heart {
  color: $red;
}