$footer-height: 110px;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $default-font-family;
  color: $default-text-color;
  background-color: $default-background-color;
  -webkit-text-size-adjust: 100%;
}

body.disable-transitions {
  -webkit-transition: all none !important;
  -moz-transition: all none !important;
  -ms-transition: all none !important;
  -o-transition: all none !important;
  transition: all none !important;
}

* { 
  margin: 0;
}

h1, h2, h3 { 
  margin: 0 0 0.83em 0;
}

p {
  margin: 1em 0;
}

pre {
  background: #FFF1DB;
  font-family: $default-monospace-font-family;
  padding: 20px;
    
}

pre, code {
  @extend %p;
}

a, a:visited {
  @include transition(color);

  text-decoration: none;
  color: $orange;
}

a:hover, a:active {
  color: darken($orange, 25%);
}