$footer-height: 110px;

* { 
  margin: 0;
}

h1, h2, h3 { 
  margin: 0 0 0.83em 0;
}

p {
  margin: 1em 0;
}

pre, code {
  @extend %p;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $default-font-family;
  color: $default-text-color;
  background-color: $default-background-color;
  -webkit-text-size-adjust: 100%;
}

a, a:visited {
  text-decoration: none;
  color: $red;
}

a:hover, a:active {
  color: darken($red, 10%);
}

#site-nav {
  @extend %p;
  h1, nav, ul, li { display: inline; }
  padding: 20px;

  .logo {
    a, a:visited {
      text-decoration: none;
      color: $white;
    }

    a:hover, a:active {
      color: $white;
    }
    @extend .circle;
    font-family: "MothproofScriptRegular";
    color: $white;
    text-shadow: 0px 2px 3px #555;

    background: $red;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
  }
}

@include media-query(map-get($breakpoints, "large")) {
  #site-nav {
    position: fixed;
    top: 20;
    left: 0;
    h1, nav, li { display: block; }
  }
}

#site-wrapper {
  min-height: 100%;
  margin-bottom: $footer-height * -1;
}

#site-wrapper:after {
  content: "";
  display: block;
  height: 110px; 
}

#site-header {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  
  h1 {
    margin: 0;
  }
}

#site-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

@include media-query(map-get($breakpoints, "large")) {
  #site-content {
    padding: 0;
  }
}

#site-footer {
  height: $footer-height;

  background: $light-blue;
  color: $white;
  text-align: center;

  & > div {
    padding: 20px;
  }

  a, a:visited {
    color: $white;
    text-decoration: none;
  }

  a:hover, a:active {
    color: darken($white, 7%);
  }

  svg {
    fill: $white;
  }

  svg:hover {
    fill: darken($white, 7%);
  }

  h1 { 
    @extend %p;
    margin: 5px;
    line-height: 1em;
  }
}

.responsive-line-break {
  display: block;
}

@include media-query(map-get($breakpoints, "medium")) {
  .responsive-line-break {
    display: inline;
  }
}

@include media-query(map-get($breakpoints, "large")) {
  .responsive-line-break {
    display: inline;
  }
}

.heart {
  color: $red;
}

.circle {
  border-radius: 50%;
  width: 80px;
  height: 80px; 
}