$white: #ffffff; //(255,255,255)
$grey: #edecea; //(237,236,234)
$light-blue: #57a6ca; //(87,166,202)
$dark-blue: #224250; //(34,66,80)
$orange: #FA9E3C; //#F58A3A; 
$beige: #fff1db;

$default-text-color: $dark-blue;
$default-background-color: $white;