$color-primary: #9E8F6A;  /* Main Primary color */
$color-primary-lighter: #FFFAEE;
$color-primary-light: #FCF1D6;
$color-primary-dark: #544625;
$color-primary-darker: #463713;
$color-primary-darkest: #231B07;

$color-complement: #939A67; /* Main Complement color */
$color-complement-lighter: #F9FCEB;
$color-complement-light: #F1F6D0;
$color-complement-dark: #4C5224;
$color-complement-darker: #3E4412;

$white: #ffffff; //(255,255,255)
$grey: #edecea; //(237,236,234)
$light-blue: #57a6ca; //(87,166,202)
$dark-blue: #224250; //(34,66,80)
$red: #9f1d1d; //(159,29,29)

$default-text-color: $dark-blue;
$default-background-color: $white;

