@import 
  "site-header",
  "site-footer";

#site-wrapper {
  min-height: 100%;
  margin-bottom: ($footer-height) * -1;
}

#site-wrapper:after {
  content: "";
  display: block;
  height: $footer-height; 
}

#site-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

@include media-query(map-get($breakpoints, "large")) {
  #site-content {
    padding: 0;
  }
}

.push20 {
  height: 20px;
}

.push {
  height: $footer-height / 6;
}

@include media-query(map-get($breakpoints, "large")) {
  .push {
    height: $footer-height / 2;
  }
}
