@mixin circle($radius) {
  border-radius: $radius;
  width: $radius * 2 !important;
  height: $radius * 2 !important;
  line-height: $radius * 2;
  text-align: center;
}

@mixin transition($properties: all, $duration: 250ms, $easing: cubic-bezier(0.295, 0.000, 0.680, 1.005)) {
  @if length($properties) > 1 {
    transition-property: $properties;
    transition-duration: $duration;
    transition-timing-function: $easing;
  } @else {
    transition: $properties $duration $easing;
  }
}