.post-list {
  margin: 0;
  padding: 0;

  .post {
    @extend .bordered-box;
    @include transition(all, 50ms, linear);

    padding: 20px;
    margin: 0;
    color: $dark-blue;
    box-shadow: none;

    &:hover {
      transform: scale(1.01) rotate(0.1deg);
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.01);
    }
  }

  .post-title {
    color: $orange;
  }
}