.post-list {
  margin: 0;
  padding: 0;

  .post {
    @extend .bordered-box;
    @include transition(box-shadow);
    
    padding: 20px;
    margin: 0;
    color: $dark-blue;
    box-shadow: none;

    &:hover {
      box-shadow: 4px 4px 2px 0 rgba(0,0,0, 0.05);
    }
  }

  .post-title {
    color: $orange;
  }
}