#site-footer {
  height: $footer-height;
  
  background: $white;
  color: $white;
  text-align: center;
  & > div {
    background: $light-blue;
    padding: 20px;
  }

  a, a:visited {
    @include transition(all);

    color: $white;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $orange
  }

  svg {
    @include transition(fill);
    
    fill: $white;
  }

  svg:hover {
    fill: $orange;
  }

  h1 { 
    @extend %p;
    margin: 5px;
    line-height: 1em;
  }
}