.shadow-box {
  border-radius: 5px;
  box-shadow: 2px 2px 2px #EEE;
  border-left: 1px solid #F8F8F8;
  border-top: 1px solid #F8F8F8;
}

.responsive-line-break {
  display: block;
}

@include media-query(map-get($breakpoints, "medium")) {
  .responsive-line-break {
    display: inline;
  }
}

@include media-query(map-get($breakpoints, "large")) {
  .responsive-line-break {
    display: inline;
  }
}

.heart {
  color: $orange;
}

.me {
  width: 280px; 
  height: 372px;
}

@include media-query(map-get($breakpoints, "large")) {
  .me {
    width: 309px; 
    height: 410px;
  }
}

.inline-image {
  float: left;
  margin-right: 30px;
  border: 10px solid #F8F8F8;
}