.heart {
  color: $red;
}

.bordered-box {
  border-radius: 5px;
  border: 1px solid #F8F8F8;
}

.responsive-line-break {
  display: block;

  @include media-query(map-get($breakpoints, "medium")) {
    display: inline;
  }

  @include media-query(map-get($breakpoints, "large")) {
    display: inline;
  }
}

.me { 
  border: 10px solid #fafafa;
  
  &.floated {
    display: none;
    float: left;
    height: 400px;
    width: 301px;
    margin: 0 20px 20px 0;
    
    img {
      height: 400px;
      width: 301px;
    }

    @include media-query(map-get($breakpoints, "large")) {
      display: block;
    }
  }

  &.inline {
    display: block;
    height: 372px;
    width: 280px;
    margin: 0 auto;
    
    img {
      height: 372px;
      width: 280px;
    }
    
    @include media-query(map-get($breakpoints, "large")) {
      display: none;
    }
  }
}