.heart {
  color: $orange;
}

.shadow-box {
  border-radius: 5px;
  border: 1px solid #F8F8F8;
}

.responsive-line-break {
  display: block;
}

@include media-query(map-get($breakpoints, "medium")) {
  .responsive-line-break {
    display: inline;
  }
}

@include media-query(map-get($breakpoints, "large")) {
  .responsive-line-break {
    display: inline;
  }
}

.me {
  display: block;
  margin: 0 auto;
  width: 280px; 
  height: 372px;
  border: 10px solid #fafafa;
  
  img {
    width: 280px; 
    height: 372px;
  }
}