---
layout: default
---
<article class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.category %}
      {% for site_category in site.data.categories %}
        {% if site_category.slug == page.category %}
          {% assign category = site_category %}
        {% endif %}
      {% endfor %}
      {% if category %}
        {% capture category_content %} in <a href="/articles/category/{{ category.slug }}/">{{ category.name }}</a>{% endcapture %}
      {% endif %}
    {% else %}
      {% assign category_content = '' %}
    {% endif %}

    {% assign tags_content = ' and tagged with ' %}
    {% if page.tags.size > 0 %}
      {% for post_tag in page.tags %}
        {% for data_tag in site.data.tags %}
          {% if data_tag.slug == post_tag %}
            {% assign tag = data_tag %}
          {% endif %}
        {% endfor %}
        {% if tag %}
          {% capture tags_content_temp %}{{ tags_content }}<a href="/articles/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
          {% assign tags_content = tags_content_temp %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div id="post-meta">
    <div class="date">
      <span class="month">{{ page.date | date: "%b" }}</span>
      <span class="day">{{ page.date | date: "%-d" }}</span>
      <span class="year">{{ page.date | date: "%Y" }}</span>
    </div>
    
    <p class="tags">Posted {{ category_content }}{{ tags_content }}</p>
  </div>

  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'craigmaslowski'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
